.choresText {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 2vw;
   font-style: italic;
   text-align: left;
   color: rgb(173, 35, 0);
}

.choresHeading {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 3.3vw;
   text-align: left;
   text-decoration: underline;
   color: rgb(117, 23, 0);
}

.choresContainer {
   padding-left: 10px;
}