.movieText {
   font-size: 1.7vw;
   color: teal;
   background-color: rgba(255, 238, 0, 0.281);
}

.movieHeading {
   font-size: 3vw;
   text-align: left;
   color: rgb(0, 82, 82);
}

.movieContainer {
   padding-left: 10px;
}